body {
    background-color: #293134;
}

body * {
    color: #E0E0E0;
}

#menu-bar {
    background: #616161;
}

button{
    background: #383838;
}

input[type=submit]:hover {
    background-color: #313131;
  }

  input[type=submit] {
    color: white;
}
input[type=text], select {
border: 1px solid #ccc;
color: black;
}



